/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {

    .container{
        display: grid;
        width: 100%;
        height: 100vh;
        /* grid-template-columns: auto auto auto auto auto auto auto auto auto auto; */
        grid-template-areas: 'i1 i1 i1' 
        'i2 i2 i3'
        'i2 i2 i3'
        'i4 i5 i5'
        'i6 i6 i7'
        'i8 i9 i9'
        'i8 i10 i10'
        'i8 i10 i10'
        'i12 i12 i13'
        'i14 i14 i15'
        'i17 i18 i15'
        'i17 i18 i19'
        'i20 i20 i19'
        'i20 i20 i19'
        'i21 i22 i19'
        'i21 i22 i19'
        'i23 i24 i24'
        'i23 i16 i16'
        'i11 i11 i11';
    }
    .container>div{
        font-size: xx-large;
    }
    .i1{
        grid-area: i1;
        background-color: bisque;
    }
    .i2{
        grid-area: i2;
        background-color: lightblue;
    }
    
    .i3{
        grid-area: i3;
        background-color: lightcoral;
    }
    
    .i4{
        grid-area: i4;
        background-color: lightcyan;
    }
    
    .i5{
        grid-area: i5;
        background-color: lightgoldenrodyellow;
    }
    
    .i6{
        grid-area: i6;
        background-color: lightgray;
    }
    
    .i7{
        grid-area: i7;
        background-color: lightpink;
    }
    
    .i8{
        grid-area: i8;
        background-color: lightsalmon;
    }
    
    .i9{
        grid-area: i9;
        background-color: lightseagreen;
    }
    
    .i10{
        grid-area: i10;
    }
    
    .i11{
        grid-area: i11;
        background-color:lightskyblue;
    }
    
    .i12{
        grid-area: i12;
        background-color: lightslategray;
    }
    
    .i13{
        grid-area: i13;
        background-color: lightslategray;
    }
    
    .i14{
        grid-area: i14;
        background-color: lightsteelblue;
    }
    
    .i15{
        grid-area: i15;
        background-color: lightyellow;
    }
    
    .i16{
        grid-area: i16;
        background-color: rgb(160, 153, 173);
    }
    
    .i17{
        grid-area: i17;
        background-color: rgb(192, 213, 223);
    }
    
    .i18{
        grid-area: i18;
        background-color: rgb(189, 175, 151);
        color: white;
    }
    
    .i19{
        grid-area: i19;
        background-color: rgb(190, 180, 163);
    }
    
    .i20{
        grid-area: i20;
        background-color: rgb(68, 70, 64);
        color: white;
    }
    
    .i21{
        grid-area: i21;
        background-color: rgb(232, 250, 182);
    }
    
    .i22{
        grid-area: i22;
        background-color: rgb(211, 198, 226);
    }
    
    .i23{
        grid-area: i23;
        background-color: rgb(250, 139, 194);
    }
    
    .i24{
        grid-area: i24;
        background-color: rgb(255, 255, 255);
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 601px) {
    body{
        background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fplatinumlist.net%2Fguide%2Feverything-you-need-to-know-about-img-worlds-of-adventure%2F&psig=AOvVaw1Qfcxk1YYLBtyUrK8rR7dd&ust=1716227933378000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCPCPlbSlmoYDFQAAAAAdAAAAABAE);
    }
    *{
        color: white;
    }
.container{
    display: grid;
    height: 100vh;
    /* grid-template-columns: auto auto auto auto auto auto auto auto auto auto; */
    grid-template-areas:'i1 i1 i1 i1'
    'i2 i2 i3 i4'
    'i2 i2 i3 i5'
    'i6 i6 i3 i5'
    'i7 i7 i7 i7'
    'i8 i9 i9 i10'
    'i11 i9 i9 i10'
    'i11 i12 i13 i13'
    'i11 i12 i13 i13'
    'i14 i15 i16 i16'
    'i17 i15 i16 i16'
    'i17 i15 i18 i18'
    'i19 i20 i20 i20'
    'i21 i20 i20 i20'
    'i21 i22 i22 i22'
    'i21 i22 i22 i22'
    'i21 i23 i23 i23'
    'i24 i24 i24 i24';
}
.container>div{
    font-size: xx-large;
}
.i1{
    grid-area: i1;
    background-color: rgb(48, 29, 6);
}
.i2{
    grid-area: i2;
    background-color: rgb(44, 58, 7);
}

.i3{
    grid-area: i3;
    background-color: rgb(2, 43, 6);
}

.i4{
    grid-area: i4;
    background-color: rgb(9, 56, 8);
}

.i5{
    grid-area: i5;
    background-color: rgb(13, 8, 53);
}

.i6{
    grid-area: i6;
    background-color: rgb(58, 7, 10);
}

.i7{
    grid-area: i7;
    background-color: rgb(44, 6, 24);
}

.i8{
    grid-area: i8;
    background-color: rgb(21, 3, 61);
}

.i9{
    grid-area: i9;
    background-color: rgb(1, 76, 99);
}

.i10{
    grid-area: i10;
    color: black;
}

.i11{
    grid-area: i11;
    background-color: rgb(61, 80, 4);
}

.i12{
    grid-area: i12;
    background-color: rgb(73, 3, 3);
}

.i13{
    grid-area: i13;
    background-color: rgb(43, 58, 2);
}

.i14{
    grid-area: i14;
    background-color: rgb(3, 24, 68);
}

.i15{
    grid-area: i15;
    background-color: rgb(78, 6, 40);
}

.i16{
    grid-area: i16;
    background-color: rgb(57, 61, 1);
}

.i17{
    grid-area: i17;
    background-color: rgb(3, 50, 71);
}

.i18{
    grid-area: i18;
    background-color: rgb(63, 42, 4);
}

.i19{
    grid-area: i19;
    background-color: rgb(73, 45, 2);
}

.i20{
    grid-area: i20;
    background-color: rgb(25, 27, 20);
}

.i21{
    grid-area: i21;
    background-color: rgb(28, 37, 3);
}

.i22{
    grid-area: i22;
    background-color: rgb(34, 6, 66);
}

.i23{
    grid-area: i23;
    background-color: rgb(66, 3, 34);
}

.i24{
    grid-area: i24;
    background-color: rgb(66, 3, 3);
}
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .container{
        display: grid;
        height: 100vh;
        /* grid-template-columns: auto auto auto auto auto auto auto auto auto auto; */
        grid-template-areas:'i13 i13 i9 i9 i18 i1 i1 i20 i20 i15' 
        'i13 i13 i5 i6 i6 i1 i1 i11 i3 i3'
        'i22 i22 i5 i6 i6 i8 i8 i11 i3 i3'
        'i7 i16 i16 i2 i2 i19 i14 i14 i21 i21'
        'i24 i24 i17 i2 i2 i4 i4 i23 i21 i21'
        'i24 i24 i17 i12 i12 i4 i4 i23 i10 i10';
    }
    .container>div{
        font-size: xx-large;
    }
    .i1{
        grid-area: i1;
        background-color: bisque;
    }
    .i2{
        grid-area: i2;
        background-color: rgb(239, 255, 196);
    }
    
    .i3{
        grid-area: i3;
        background-color: rgb(196, 255, 201);
    }
    
    .i4{
        grid-area: i4;
        background-color: rgb(198, 255, 196);
    }
    
    .i5{
        grid-area: i5;
        background-color: rgb(164, 159, 202);
    }
    
    .i6{
        grid-area: i6;
        background-color: rgb(201, 163, 165);
    }
    
    .i7{
        grid-area: i7;
        background-color: rgb(112, 91, 101);
    }
    
    .i8{
        grid-area: i8;
        background-color: rgb(187, 183, 196);
    }
    
    .i9{
        grid-area: i9;
        background-color: rgb(116, 155, 167);
    }
    
    .i10{
        grid-area: i10;
    }
    
    .i11{
        grid-area: i11;
        background-color: rgb(74, 83, 48);
    }
    
    .i12{
        grid-area: i12;
        background-color: rgb(129, 84, 84);
    }
    
    .i13{
        grid-area: i13;
        background-color: rgb(159, 212, 13);
    }
    
    .i14{
        grid-area: i14;
        background-color: rgb(25, 51, 107);
    }
    
    .i15{
        grid-area: i15;
        background-color: rgb(207, 48, 122);
    }
    
    .i16{
        grid-area: i16;
        background-color: rgb(214, 228, 22);
    }
    
    .i17{
        grid-area: i17;
        background-color: rgb(36, 123, 163);
    }
    
    .i18{
        grid-area: i18;
        background-color: rgb(51, 42, 25);
        color: white;
    }
    
    .i19{
        grid-area: i19;
        background-color: rgb(207, 130, 14);
    }
    
    .i20{
        grid-area: i20;
        background-color: rgb(68, 70, 64);
        color: white;
    }
    
    .i21{
        grid-area: i21;
        background-color: rgb(80, 95, 37);
    }
    
    .i22{
        grid-area: i22;
        background-color: rgb(77, 23, 138);
    }
    
    .i23{
        grid-area: i23;
        background-color: rgb(250, 139, 194);
    }
    
    .i24{
        grid-area: i24;
        background-color: rgb(255, 255, 255);
    }
}










/* .container{
    display: grid;
    height: 50vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'header header header'
    'main main side'
    'main main side';
}
.item1{
    grid-area: header;
    border: 1px solid red;
}
.item2{
    grid-area: main;
    border: 1px solid rgb(0, 195, 255);
}
.item3{
    grid-area: side;
    border: 1px solid rgb(0, 255, 21);
}
.cont2{
    display: grid;
    height: 50vh;
    grid-template-columns: auto auto auto;
}
.item4{
    grid-column: 1/-1;
    grid-row:1/2 ;
    border: 1px solid violet;
}
.item5{
    grid-row: 2/4;
    grid-column: 1/2;
    border: 1px solid rgb(59, 12, 59);
}
.item6{
    grid-column: 2/-1;
    grid-row: 2/3;
    border: 1px solid violet;
}
.item7{
    grid-column: 2/-1;
    grid-row: 3/-1;
} */